<div class="container my-5">
  <h1>Réservez la cuisine de <%= @kitchen.user.first_name %> </h1>
  <div class="wrapper-booking">
    <%= simple_form_for [@kitchen, @booking] do |f| %>
      <%= f.input :number_of_people, label: "Nombre de personne", collection: (1..@kitchen.capacity) %>
      <%= f.input :start_time, label: "Début location", as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_time, label: "Fin location", as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Reservez", class: "btn-koobo-booking" %>
    <% end %>
  </div>
</div>



