<div class="container my-5">
  <div>
    <h1>Réservez la cuisine de <%= @kitchen.user.first_name %> </h1>
  </div>
  <div class="flex-column">
    <%= simple_form_for [@kitchen, @booking] do |f| %>
      <%= f.input :number_of_people, label: 'Nombre de personne', collection: (1..@kitchen.capacity) %>
      <%= f.input :start_time, label: 'Début réservation', as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_time, label: 'Fin réservation', as: :string, required: false, input_html: {class: "datepicker"} %>
      <button class="btn-koobo"> <%= f.button :submit, "Reserver" %></button>
    <% end %>
  </div>
</div>
