<div class="container mt-5">
  <div class="banner booking-image" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1506784365847-bbad939e9335?ixlib=rb-1.2.1&auto=format&fit=crop&w=2248&q=80);">
  <div class="container text-booking">
    <h1>Réservez la cuisine de <%= @kitchen.user.first_name %> </h1>
  </div>
</div>
</div>
<div class="container mt-5">
    <%= simple_form_for [@kitchen, @booking] do |f| %>
      <%= f.input :number_of_people, label: "Nombre de personne", collection: (1..@kitchen.capacity) %>
      <%= f.input :start_time, label: "Début location", as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_time, label: "Fin location", as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Reservez", class: "btn-koobo-booking" %>
      <% end %>
  </div>
</div>



