
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1556911261-6bd341186b2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80);">
<div class="container d-flex">
  <div class="row">
    <div class= "form-home p-4 col-md-4">
      <div class="container-form-home">
      <!-- <h3> Cherchez votre cuisine </h3>
    <div class="form-group">
      <label for="inputAddress">Adresse</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Où vous voulez...">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Ville</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-6">
        <label for="inputZip">Code Postal</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Date d'arrivée</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"><i class="far fa-calendar-alt"></i></span>
          </div>
          <input type="text" class="form-control datepicker" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputZip">Date de départ</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"><i class="far fa-calendar-alt"></i></span>
          </div>
          <input type="text" class="form-control datepicker" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
    </div>

      <%= link_to "Rechercher", kitchens_path, class: "btn btn-flat" %> -->
<!--   </form>
 -->
</div>
  <div class="row">
    <h3 class="ml-5 mb-3"> Trouvez votre cuisine </h3>
    <div class="form-row">
    <div class="form-group w-100">
      <%= form_tag kitchens_path, method: :get do %>
        <%= text_field_tag :query_address,
          params[:query_address],
          class: "form-control w-90",
          id: "inputAddress",
          placeholder: "Adresse"
        %>
        </div>
    </div>
    <div class="form-row">
      <div class="form-group w-100 ml-1">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control w-90 ml-1",
            id: "inputCity",
            placeholder: "Ville"
          %>
      </div>
    </div>
    <div class="date-section d-flex justify-content-start">
      <div class="input-group mb-3">
        <div class="roxane d-flex justify-content-start">
        <div class="input-group-prepend mr-n1">
          <span class="input-group-text" id="inputGroup-sizing-default"><i class="far fa-calendar-alt"></i></span>
        </div>
      <div class="form-row">
        <div class="form-group mb-2">
          <%= date_field_tag :query_datestart,
            params[:query_datestart],
            class: "form-control datepicker",
            placeholder: "Date d'arrivée"
          %>
        </div>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="roxane d-flex justify-content-start">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"><i class="far fa-calendar-alt"></i></span>
      </div>
    <div class="form-group mb-2">
        <%= date_field_tag :query_dateend,
          params[:query_dateend],
          class: "form-control datepicker",
          placeholder: "Date de départ"
        %>
        </div>
     </div>
    </div>
     </div>
        <%= submit_tag "Rechercher", class: "btn btn-flat mx-auto" %>
      <% end %>
    </div>
  </div>
  </div>

    <div class="col-md-6 offset-md-2">
      <h1>KitchenShare - <strong>trouvez la cuisine </strong> qui correspond <strong>à vos besoins</strong>!</h1>
      <p>Nos propriétaires fournissent leurs cuisines equipées pour vous rendre service.</p>
    </div>
  </div>

</div>

</div>

<div class="container carouselhome mt-5">
  <h1> Les cuisines qui ont ravi nos clients </h1>
  <div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "cuisine_mao_1.png", alt: "cuisine", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Paris 5eme</h5>
        <p>Cuisine de Jean jaques 8€/h</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "cuisine_3.png", alt: "cuisine", class: "d-block w-100" %>
          <div class="carousel-caption d-none d-md-block">
        <h5>Paris 4eme</h5>
        <p>Cuisine de Colette 7€/h</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "cuisine_4.png", alt: "cuisine", class: "d-block w-100" %>
          <div class="carousel-caption d-none d-md-block">
        <h5>Paris 7eme</h5>
        <p>Cuisine de Bernard 8€/h</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


