<div class="container mt-5 mb-5">
<!--   <div class="cards">
    <ul>
      <% @kitchens.each do |kitchen| %>
        <% kitchen.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
        <li class="card"><%= link_to kitchen.name, kitchen_path(kitchen) %>, <%= kitchen.address %>, <%= kitchen.city %></li>
      <% end %>
    </ul>
    <div id="map"
       style="width: 100%;
       height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div> -->
<div class="cards">

<% @kitchens.each do |kitchen| %>
  <div class="card-trip">
          <img src="https://images.unsplash.com/photo-1556911220-bff31c812dba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to kitchen.name, kitchen_path(kitchen) %></h2>
          <p><%= kitchen.address %>, <%= kitchen.city %></p>
        </div>
        <h2 class="card-trip-pricing"><%= kitchen.price_by_hour %>€/heure</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
  </div>
<% end %>
</div>

   <div id="map"
         style="width: 100%;
         height: 100vh;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
</div>
