<div class="container kitchen-photos">
  <div class="wrapper">
    <div class="wrapper-left">
      <h1><%= @kitchen.name %></h1>
      <% if @kitchen.photos.attached? %>
        <% @kitchen.photos.each do |kitchen| %>
        <%= cl_image_tag kitchen.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1556911261-6bd341186b2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80" alt="" width="260" height="190">
      <% end %>

      <h2><%= @kitchen.price_by_hour %>€/heure, <%= @kitchen.capacity %> cuisiniers</h2>
      <h3><%= @kitchen.address %></h3>
      <p><%= @kitchen.description %></p>
      <ul> <strong>Équipements</strong>
        <% @kitchen.equipment.split(",").each do |tool| %>
          <li><%= tool.capitalize %></li>
        <% end %>
      </ul>
    </div>

    <div class="wrapper-right">
      <!-- IT WILL BE THE MAP HERE  -->
      <img src="https://images.unsplash.com/photo-1556911261-6bd341186b2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80" alt="" width="500" height="400">
      <%= link_to "Je réserve cette cuisine", new_kitchen_booking_path(@kitchen), class: "btn-koobo" %>
    </div>
  </div>
  <%= link_to "Retournez à ma recherche", kitchens_path %>
</div>
