<div class="container d-flex">
  <div class="wrapper-left">
    <div class="container p-2 bd-highlight">
      <div class="row my-5">
        <div class="card profile-card-1 sticky-top!">
          <img src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb" alt="profile-sample1" class="background"/>
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="profile-image" class="profile"/>
            <div class="card-content">
              <h2><%= @user.first_name %>  <%= @user.last_name %></h2>
            <div class="reviews mt-3">
              <a href="#">Vos avis</a>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-right">
    <div class="container p-2 mt-5 ml-5 bd-highlight">
      <h2><strong>Location à venir</strong></h2>
      <div class="card-trip mb-5">
      <img src="https://images.unsplash.com/photo-1556909172-54557c7e4fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
        <div class="card-trip-infos">
          <% @user.kitchens.each do |kitchen| %>
          <h2><%= kitchen.name %></h2>
          <p><%= kitchen.description %> - <%= kitchen.address %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container p-2 mt-5 ml-5 bd-highlight">
      <h2><strong>Demande(s) en cours</strong></h2>
      <div class="card-trip mb-5">
      <img src="https://images.unsplash.com/photo-1541604193435-22287d32c2c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
        <div class="card-trip-infos">
          <% @user.kitchens.each do |kitchen| %>
          <h2><%= kitchen.name %></h2>
          <p><%= kitchen.description %> - <%= kitchen.address %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container p-2 mt-5 ml-5 bd-highlight">
      <h2><strong>Locations passées</strong></h2>
        <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1556909212-d5b604d0c90d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" />
          <div class="card-trip-infos">
            <% @user.kitchens.each do |kitchen| %>
            <h2><%= kitchen.name %></h2>
            <p><%= kitchen.description %> - <%= kitchen.address %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

